[submodule "vendor/tinyxml2/tinyxml2"]
    path = vendor/tinyxml2/tinyxml2
    url = https://github.com/leethomason/tinyxml2
[submodule "vendor/abseil-cpp"]
	path = vendor/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
